@import url(./reset.css);

.advantages-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.main-container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.img-swiper {
  margin-bottom: 32px;
  height: 380px;
}

.swiper-text-wrapper {
  margin-bottom: 24px;
}

.title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #dc3353;
  margin-bottom: 24px;
  width: 250px;
}

.text {
  height: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #292929;
}

.swiper-button-wrapper {
  z-index: 100;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: flex-end;
  gap: 17px;
}

.swiper-button {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: stroke 500ms ease-in-out;
}

.swiper-button-wrapper::after {
  position: absolute;
  content: '';
  height: 24px;
  width: 1px;
  background-color: rgba(41, 41, 41, 0.2);
  top: 8px;
  right: 48px;
}

svg {
  stroke: #292929;
}

.swiper-button:hover > svg {
  stroke: #dc3353;
}

.swiper-button:active > svg {
  stroke: #292929;
}

@media screen and (min-width: 7680px) {
  .advantages-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .img-swiper {
    margin-bottom: 0;
    height: 400px;
    /* border: 1px solid red; */
  }

  .swiper-slide {
    /* border: 1px solid red; */
  }

  .swiper-button-wrapper {
    width: 336px;
  }

  .img-swiper-slide {
    position: relative;
    overflow: hidden;
    /* width: 400px !important; */
    /* height: 400px !important; */
  }

  .opp-img {
    width: 366px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  /* .img-swiper .swiper-slide-active {
    margin-right: 288px !important;
  }

  .img-swiper .swiper-slide-next {
    transition: all 1800ms ease-in-out;
    width: 80px !important;
    height: 80px !important;
  } */
  .text-swiper {
    /* transform: translate(368px, -300px); */
  }

  .title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #dc3353;
  }

  .text {
    height: 140px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    color: #292929;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-section {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .main-container {
    max-width: 1440px;
    padding: 0 112px;
  }

  .text-swiper {
    transform: translate(413px, -300px);
  }

  .img-swiper {
    height: 560px;
  }

  .img-swiper.my-transition .swiper-slide,
  .img-swiper.my-transition .img-wrapper {
    transition: all 1800ms ease-in-out;
  }

  .img-swiper .swiper-slide {
    width: 176px;
    height: 176px;
    overflow: hidden;
    opacity: 0;
  }

  .img-swiper .swiper-slide-prev {
    width: 280px;
    height: 280px;
    overflow: hidden;
    opacity: 1;
  }

  .img-swiper .swiper-slide-active {
    width: 488px;
    height: 560px;
    margin-right: 240px;
    display: flex;
    opacity: 1;
  }

  .img-swiper .swiper-slide-next {
    position: relative;
    width: 176px;
    height: 176px;
    overflow: hidden;
    opacity: 1;
  }

  .swiper-slide-active .img-wrapper {
    position: relative;
    width: 488px;
    height: 560px;
    overflow: hidden;
    opacity: 1;
  }

  .swiper-slide-next .img-wrapper {
    position: relative;
    overflow: hidden;
    width: 176px;
    height: 176px;
    opacity: 1;
  }

  .swiper-slide-prev .img-wrapper {
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 280px;
    opacity: 1;
  }

  .title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #dc3353;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.01em;
    color: #292929;
  }

  .swiper-button-wrapper {
    width: 384px;
    transform: translate(412px, 0);
    z-index: 100;
  }
}